*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
background-color: white;
color: black;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    margin: 300px 0;
}