<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="This is a online shopping site" />
    <meta name="keywords" content="Comics,dark comics" />
    <meta name="author" content="Orxan Ibrahimov" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dark Comics</title>
    <link rel="shortcut icon" href="~/assets/img/logo-sm.png" type="image/icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <script src="https://kit.fontawesome.com/c372b7f0bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/assets/plugin/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
</head>

<body>
    @await Component.InvokeAsync("Header");
    <!-- Main Start -->
    <main>
        @RenderBody()

        <!--Loader Start-->
        <div class="loader-container">
            <img src="~/assets/img/loader-img.gif" alt="">
        </div>
        <!--Loader End-->

    </main>
    <!-- Main End -->
    <!-- Footer Start -->
    <footer>
        <div class="responsive-footer container">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="social-networks">
                        <nav>
                            <ul class="social-list">
                                <li class="social-list-item">
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="social-list-item">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="social-list-item">
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="social-list-item">
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <p>©2021 MARVEL</p>
                    </div>
                </div>

                <div class="col-12 col-xl-9">
                    <div class="row">
                        <ul class="col-12 col-md-6 col-lg-4">
                            <h3>Popular Avenger</h3>
                            <li>
                                <a href="#heroes">Spider Man</a>
                            </li>
                            <li>
                                <a href="#heroes">Hulk</a>
                            </li>
                            <li>
                                <a href="#heroes">Doctor Strange</a>
                            </li>
                            <li>
                                <a href="#heroes">Daredevil</a>
                            </li>
                            <li>
                                <a href="#heroes">Black Panther</a>
                            </li>
                            <li>
                                <a href="#heroes">Thor</a>
                            </li>
                        </ul>

                        <ul class="col-12 col-md-6 col-lg-4">
                            <h3>Woman Heroines</h3>
                            <li>
                                <a href="#women">Black Widow</a>
                            </li>
                            <li>
                                <a href="#women">Captain Marvel</a>
                            </li>
                            <li>
                                <a href="#women">She Hulk</a>
                            </li>
                            <li>
                                <a href="#women">Black Cat</a>
                            </li>
                        </ul>

                        <ul class="col-12 col-md-6 col-lg-4">
                            <h3>Young Avengers</h3>
                            <li>
                                <a href="#youngs">Cassie Lang</a>
                            </li>
                            <li>
                                <a href="#youngs">Kid Loki</a>
                            </li>
                            <li>
                                <a href="#youngs">Hulkling</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->


    <script src="~/assets/jquery/jquery.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>*@
    <script src="~/assets/plugin/js/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="~/assets/scripts/main.js"></script>
    @RenderSection("validate", false);
    <script src="~/assets/js/main.js"></script>
    @RenderSection("basket", false);
</body>

</html>