<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="This is a online shopping site" />
    <meta name="keywords" content="Comics,dark comics" />
    <meta name="author" content="Orxan Ibrahimov" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dark Comics</title>
    <link rel="shortcut icon" href="~/assets/img/logo-sm.png" type="image/icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <script src="https://kit.fontawesome.com/c372b7f0bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/assets/plugin/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
</head>

<body>
    <!-- Header Start-->
    <header>
        <div class="container">
            <div class="row py-4 justify-content-between align-items-center">
                <div class="col-2">
                    <a asp-controller="Home" asp-action="Index" class="logo-container overflow-hidden">
                        <img src="assets/img/logo-2.png" width="75" alt="logo" class="rounded-circle" />
                    </a>
                </div>
                <div class="col-6 offset-1 d-none d-md-block">
                    <form>
                        <input type="text" placeholder="Type here" class="form-control" />
                    </form>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="icons">
                        <!-- <div id="search-btn" class="fas fa-search"></div> -->
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <div id="login-btn" class="fas fa-user"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <header class="sticky">
        <div class="container-fluid bg-dark">
            <div class="row bg-white">
                <ul class="col-12 d-flex justify-content-around py-3">
                    <li><a asp-controller="Character" asp-action="Index" class="menu-text"><i class="fas fa-mask"></i> Characters</a></li>
                    <li><a asp-controller="Comic" asp-action="Index" class="menu-text"><i class="fas fa-book"></i> Comics</a></li>
                    <li><a class="menu-text" href=""><i class="fas fa-puzzle-piece"></i> Toys</a></li>
                    <li><a asp-controller="Read" asp-action="Index" class="menu-text"><i class="fas fa-book-open"></i> Read Comics</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- login form Start -->
    <div class="login-form-container">

        <div id="close-login-btn" class="fas fa-times"></div>

        <form action="">
            <h3>sign in</h3>
            <span>username</span>
            <input type="email" name="" class="box" placeholder="enter your email" id="">
            <span>password</span>
            <input type="password" name="" class="box" placeholder="enter your password" id="">
            <div class="checkbox">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me"> remember me</label>
            </div>
            <input type="submit" value="sign in" class="btn">
            <p>forget password ? <a href="#">click here</a></p>
            <p>don't have an account ? <a href="#">create one</a></p>
        </form>

    </div>
    <!-- login form End -->
    <!-- Main Start -->
    <main>
        @RenderBody()
        
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <img src="~/assets/img/comics/batman-rebirth/batman-rebirth-vol1-cover.jpg" class="w-100 p-3" />
                                        </div>
                                        <div class="col-5">
                                            <p>Orxan Ibrahimov</p>
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <a class="col-3">-</a>
                                                <input class="col-6" disabled value="1" />
                                                <a class="col-3">+</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <p class="my-0">90 $</p>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-outline-danger"><i class="fas fa-trash fa-2x"></i></a>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <img src="~/assets/img/comics/batman-rebirth/batman-rebirth-vol1-cover.jpg" class="w-100 p-3" />
                                        </div>
                                        <div class="col-5">
                                            <p>Orxan Ibrahimov</p>
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <a class="col-3">-</a>
                                                <input class="col-6" disabled value="1" />
                                                <a class="col-3">+</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <p class="my-0">90 $</p>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-outline-danger"><i class="fas fa-trash fa-2x"></i></a>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <img src="~/assets/img/comics/batman-rebirth/batman-rebirth-vol1-cover.jpg" class="w-100 p-3" />
                                        </div>
                                        <div class="col-5">
                                            <p>Orxan Ibrahimov</p>
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <a class="col-3">-</a>
                                                <input class="col-6" disabled value="1" />
                                                <a class="col-3">+</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <p class="my-0">90 $</p>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-outline-danger"><i class="fas fa-trash fa-2x"></i></a>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <img src="~/assets/img/comics/batman-rebirth/batman-rebirth-vol1-cover.jpg" class="w-100 p-3" />
                                        </div>
                                        <div class="col-5">
                                            <p>Orxan Ibrahimov</p>
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <a class="col-3">-</a>
                                                <input class="col-6" disabled value="1" />
                                                <a class="col-3">+</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <p class="my-0">90 $</p>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-outline-danger"><i class="fas fa-trash fa-2x"></i></a>
                                        </div>
                                    </div>
                                    <div class="row py-4">
                                        <div class="col-12">
                                            <h3 class="text-end">Summary : 500$</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>*@
                </div>
            </div>
        </section>
        <!--Loader Start-->
        <div class="loader-container">
            <img src="~/assets/img/loader-img.gif" alt="">
        </div>
        <!--Loader End-->

    </main>
    <!-- Main End -->
    <!-- Footer Start -->
    <footer>
        <div class="responsive-footer container">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="social-networks">
                        <nav>
                            <ul class="social-list">
                                <li class="social-list-item">
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="social-list-item">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="social-list-item">
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="social-list-item">
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <p>©2021 MARVEL</p>
                    </div>
                </div>

                <div class="col-12 col-xl-9">
                    <div class="row">
                        <ul class="col-12 col-md-6 col-lg-4">
                            <h3>Popular Avenger</h3>
                            <li>
                                <a href="#heroes">Spider Man</a>
                            </li>
                            <li>
                                <a href="#heroes">Hulk</a>
                            </li>
                            <li>
                                <a href="#heroes">Doctor Strange</a>
                            </li>
                            <li>
                                <a href="#heroes">Daredevil</a>
                            </li>
                            <li>
                                <a href="#heroes">Black Panther</a>
                            </li>
                            <li>
                                <a href="#heroes">Thor</a>
                            </li>
                        </ul>

                        <ul class="col-12 col-md-6 col-lg-4">
                            <h3>Woman Heroines</h3>
                            <li>
                                <a href="#women">Black Widow</a>
                            </li>
                            <li>
                                <a href="#women">Captain Marvel</a>
                            </li>
                            <li>
                                <a href="#women">She Hulk</a>
                            </li>
                            <li>
                                <a href="#women">Black Cat</a>
                            </li>
                        </ul>

                        <ul class="col-12 col-md-6 col-lg-4">
                            <h3>Young Avengers</h3>
                            <li>
                                <a href="#youngs">Cassie Lang</a>
                            </li>
                            <li>
                                <a href="#youngs">Kid Loki</a>
                            </li>
                            <li>
                                <a href="#youngs">Hulkling</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="~/assets/jquery/jquery.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>*@
    <script src="~/assets/plugin/js/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="~/assets/scripts/main.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>

</html>